*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#111;
color:#fff;
line-height:1.6;
}

header{
background:#000;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
position:sticky;
top:0;
z-index:1000;
border-bottom:2px solid gold;
}

.logo h2{
color:gold;
font-size:28px;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:bold;
transition:.3s;
}

nav a:hover{
color:gold;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url("images/banner.jpg");
background-size:cover;
background-position:center;
padding:20px;
}

.hero h1{
font-size:55px;
color:gold;
margin-bottom:20px;
}

.hero p{
font-size:22px;
margin-bottom:30px;
}

.hero a{
background:gold;
color:black;
padding:15px 35px;
text-decoration:none;
font-weight:bold;
border-radius:30px;
transition:.3s;
}

.hero a:hover{
background:white;
}

section{
padding:70px 8%;
}

section h2{
text-align:center;
color:gold;
font-size:38px;
margin-bottom:40px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.card{
background:#1d1d1d;
border:1px solid #333;
border-radius:12px;
overflow:hidden;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
border-color:gold;
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

.card h3{
padding:15px;
color:gold;
}

.card p{
padding:0 15px 15px;
}

.button{
display:inline-block;
margin:15px;
background:gold;
color:black;
padding:10px 20px;
text-decoration:none;
font-weight:bold;
border-radius:5px;
}

footer{
background:black;
text-align:center;
padding:30px;
border-top:2px solid gold;
margin-top:50px;
}

footer p{
color:#aaa;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

nav a{
display:block;
margin:10px 0;
}

.hero h1{
font-size:34px;
}

.hero p{
font-size:18px;
}

  }
